*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url("https://i.ibb.co/BCHMgTd/Pngtree-glass-of-cat-pattern-christmas-3718499.png");
}

.container{
    margin: auto;
    width: 800px;
    min-height: 400px;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    border-radius: 25px;
}

.add-gift{
    
    margin-top: 10px;
    background: white;
    text-align: center;
    width: 100%;
    color: black;
}

.list-gifts {
    width: 50%;
    background: white;
    color: black;
    padding: 3px;
    text-align: center;
    border-radius: 15px;
    position: relative;
}

.title {
    margin-top: 10px;
    margin-bottom: 10px;
}

.input-wrapper {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.input-name {
    width: 80%;
    margin-bottom: 15px;
    padding: 2px;
}

.input-name-small {
    padding: 2px;
    width: 65%;
}

.input-qty{
    width: 25%;
    padding: 2px;
    text-align: center;
}

.addButton {
    margin-bottom: 15px;
    margin-top: 15px;
    width: 60%;
    padding: 3px;
    border: none;
    background: white;
    border: solid 2px rgb(8, 168, 8);
    color:  rgb(8, 168, 8);
    cursor: pointer;
}

.addButton-small {
    width: 30%;
    padding: 3px;
    border: none;
    background: white;
    border: solid 2px rgb(8, 168, 8);
    color:  rgb(8, 168, 8);
    cursor: pointer;
}

.addButton:focus {
    text-decoration: underline rgb(8, 168, 8);
}

.deleteButton {
    margin-bottom: 25px;
    margin-top: 0px;
    width: 60%;
    padding: 3px;
    border: none;
    background: white;
    border: solid 2px red;
    color:  red;
    text-align: center;
    cursor: pointer;
    
}

.deleteButton:focus {
    text-decoration: underline red;
}

.list-element .deleteButton {
    margin: 0;
    width: auto;
}

.list-element {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 4px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-wrapper {
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.list-wrapper {
    list-style-type: none;
    margin-bottom: 10px;
    height: 250px;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.small {
    height: 50px;
    width: 50px;
    border: 1px solid green;
    cursor: pointer;
}

.no-gifts {
    height: 250px;
}

.editButton {
    margin: 0;
    padding: 3px;
    border: none;
    background: white;
    border: solid 2px rgb(8, 168, 8);
    color: rgb(8, 168, 8);
    text-align: center;
    cursor: pointer;
}

.editButton:focus {
    text-decoration: underline rgb(8, 168, 8);
}

.description-wrapper {
    color: gray;
    font-style: italic;
    text-align: start;
}

.loading {
    width: 50%;
    background: white;
    color: black;
    padding: 3px;
    text-align: center;
    border-radius: 15px;
    position: relative;   
    display: flex; 
    align-items: center;
    justify-content: center;
}

.name-wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}